/* Navbar Styling */

.Navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(23, 16, 9);
    padding: 20px;
}

.Logo {
    margin-left: 40px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

li {
    margin: 0 20px;
}

a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

a.active {
    color: #00B207;
}

.ProfileInfo {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 40px;
    color: #fff;
    font-size: 12px;
    position: relative;
}

.ProfileInfo .ProfileIcon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    cursor: pointer;
}


/* Updated styling for Logout Options */

.LogoutOptions {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.ProfileInfo:hover .LogoutOptions {
    display: block;
}

.LogoutOptions button {
    display: block;
    width: 100%;
    padding: 10px;
    text-align: center;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 12px;
    color: #333;
    border-radius: 4px;
}

.LogoutOptions button:hover {
    background-color: #ddd;
    border-radius: 4px;
}


/* =========== FOOTER STYLING ============*/

.Sponsor {
    background: #333;
    padding-bottom: 20px;
}

.LogoImage {
    max-width: 60%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.Footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 40px;
    padding-bottom: 10px;
}

.FooterContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.FooterLogo {
    margin-right: 20px;
}

.FooterLinks ul {
    list-style: none;
    padding: 0;
}

.FooterLinks li {
    display: inline;
    margin-right: 20px;
}

.SocialIcons a {
    text-decoration: none;
    color: #fff;
    margin-right: 10px;
}

.CopyrightText {
    font-size: 12px;
    font-style: italic;
    margin-top: 40px;
}